# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\julius.ernesti\OneDrive - bwedu\Uni\10.Semester\AdvancedGeoscripting\assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
